# Notebook de teste para manipulação de dado em banco

In [1]:
import pandas as pd
import datetime
from sqlalchemy import create_engine
import numpy as np
import pyarrow.parquet as pq

In [2]:
parquet_embedding = 'output/embeddings_nome'
parquet_nodes  = 'dataset/grapho/nodes'
parquet_edges = 'dataset/grapho/edges'

In [5]:
inicio = datetime.datetime()
df_embeddings = pd.read_parquet(parquet_embedding, engine='pyarrow')
# embedding_dataset = pq.ParquetDataset(parquet_embedding)
# df_embeddings = embedding_dataset.read().to_pandas()

In [13]:
df_embeddings.rename(columns={'nomeFantasia': 'nomefantasia'}, inplace=True)

In [8]:
df_embeddings = df_embeddings.head(1000)

In [11]:
df_embeddings['embeddings'] = df_embeddings['embeddings'].swifter.apply(lambda x: x.tolist())

Pandas Apply:   0%|          | 0/1000 [00:00<?, ?it/s]

In [9]:
engine = create_engine('postgresql+psycopg2://postgres:postgres@prata04.cnj.jus.br:5432/MDM')

In [14]:
df_embeddings.to_sql('embeddings', engine, if_exists='append', index=False, chunksize=200000)

1000

In [31]:
df = pd.read_sql("select * from public.embeddings", engine)
df

,id,nomefantasia,embeddings
0,00000013,SSC ASSESSORIA CONTABIL,"[-0.11003308743238449, -0.008597650565207005, ..."
1,00000017,MAC-MINISTERIO ARTISTAS DE CRISTO,"[0.05532510578632355, -0.1311258226633072, 0.1..."
2,00000026,PDS DIRETORIO MUNICIPAL EM SANTA HELENA DE GOIAS,"[0.1205391064286232, 0.025484347715973854, 0.1..."
3,00000034,TERPAL TERRAPLANAGEM E PAVIMENTACAO,"[0.030783172696828842, 0.04602731019258499, 0...."
4,00000041,ENIGMA,"[0.03644678741693497, -0.10246218740940094, -0..."
...,...,...,...
995,00002659,CARTORIO LIONISIO PEREIRA PINTO,"[-0.03650989383459091, 0.10625234246253967, -0..."
996,00002663,RICAR VEICULOS,"[-0.1579078584909439, 0.047675251960754395, 0...."
997,00002667,AUTO MECANICA TRIANGULO,"[-0.0837310180068016, -0.056753650307655334, 0..."
998,00002680,OFICINA MECANICA EXATA,"[0.027660122141242027, 0.045284248888492584, 0..."
999,00002682,FLOREXOTICA,"[-0.015715306624770164, -0.047040749341249466,..."

In [6]:
fim = time.time()
print(f"Tempo de execução: {fim - inicio}")

Tempo de execução: 440.2432510852814

In [7]:
print('Tempo total de carga: {}'.format(fim - inicio))

Tempo total de carga: 440.2432510852814

In [3]:
inicio = datetime.datetime.now()
df_nodes = pd.read_parquet(parquet_nodes, engine='pyarrow')
df_nodes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75505970 entries, 0 to 75505969
Data columns (total 5 columns):
 #   Column              Dtype
---  ------              -----
 0   id                  object
 1   te_dados_em         object
 2   id_estabelecimento  object
 3   te_dados_es         object
 4   id_tipoPessoa       int32
dtypes: int32(1), object(4)
memory usage: 2.5+ GB

In [4]:
fim = datetime.datetime.now()
print('Tempo total de carga: {}'.format(fim - inicio))

Tempo total de carga: 0:13:45.194190

In [5]:
df_nodes_1000 = df_nodes.head(1000)

In [19]:
df_nodes_1000['cep'] = df_nodes_1000['te_dados_es'].apply(lambda x: x.get('cep') if isinstance(x, dict) else None)

/tmp/ipykernel_1098945/615165360.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nodes_1000['cep'] = df_nodes_1000['te_dados_es'].apply(lambda x: x.get('cep') if isinstance(x, dict) else None)

In [26]:
import json
df_nodes_1000['te_dados_es'] = df_nodes_1000['te_dados_es'].apply(json.dumps)
df_nodes_1000['te_dados_em'] = df_nodes_1000['te_dados_em'].apply(json.dumps)

/tmp/ipykernel_1098945/465604964.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nodes_1000['te_dados_es'] = df_nodes_1000['te_dados_es'].apply(json.dumps)
/tmp/ipykernel_1098945/465604964.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nodes_1000['te_dados_em'] = df_nodes_1000['te_dados_em'].apply(json.dumps)

In [35]:
df_nodes_1000.rename(columns={'id_tipoPessoa': 'id_tipopessoa'}, inplace=True)

/tmp/ipykernel_1098945/2971875709.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nodes_1000.rename(columns={'id_tipoPessoa': 'id_tipopessoa'}, inplace=True)

In [33]:
engine = create_engine('postgresql+psycopg2://postgres:postgres@prata04.cnj.jus.br:5432/MDM')

In [36]:
df_nodes_1000.to_sql('nodes', engine, if_exists='append', index=False, chunksize=200000)

1000

In [5]:
df_edges = pd.read_parquet(parquet_edges, engine='pyarrow')
df_edges.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24554294 entries, 0 to 24554293
Data columns (total 3 columns):
 #   Column       Dtype
---  ------       -----
 0   src          object
 1   dst          object
 2   te_dados_sc  object
dtypes: object(3)
memory usage: 562.0+ MB