In [1]:
from pyspark import SparkConf
from pyspark import SparkContext
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, from_json, substring, when, length, split, lit
from pyspark.sql.types import StructType, StructField, StringType
from graphframes import *

In [3]:
# Dados de carga
csv_pj = 'dataset/empresas_estabelecimentos_1m.csv'
csv_socios = 'dataset/socios_1m.csv'

In [2]:
spark = SparkSession.builder.appName("trata_dados_2").getOrCreate()

23/11/29 15:20:41 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [3]:
# Schema para Json Empresa
json_schema_em = StructType([
    StructField("porteEmpresa", StringType(), True),
    StructField("capitalSocial", StringType(), True),
    StructField("cpfResponsavel", StringType(), True),
    StructField("nomeEmpresarial", StringType(), True),
    StructField("naturezaJuridica", StringType(), True),
    StructField("qualificacaoResponsavel", StringType(), True)
])

# Schema para Json Estabelecimento
json_schema_es = StructType([
    StructField("uf", StringType(), True),
    StructField("cep", StringType(), True),
    StructField("ddd1", StringType(), True),
    StructField("ddd2", StringType(), True),
    StructField("pais", StringType(), True),
    StructField("email", StringType(), True),
    StructField("bairro", StringType(), True),
    StructField("numero", StringType(), True),
    StructField("municipio", StringType(), True),
    StructField("telefone1", StringType(), True),
    StructField("telefone2", StringType(), True),
    StructField("cnaeFiscal", StringType(), True),
    StructField("logradouro", StringType(), True),
    StructField("complemento", StringType(), True),
    StructField("dataCadastro", StringType(), True),
    StructField("nomeFantasia", StringType(), True),
    StructField("cidadeExterior", StringType(), True),
    StructField("tipoLogradouro", StringType(), True),
    StructField("cnaesSecundarias", StringType(), True),
    StructField("situacaoEspecial", StringType(), True),
    StructField("situacaoCadastral", StringType(), True),
    StructField("dataSituacaoEspecial", StringType(), True),
    StructField("dataSituacaoCadastral", StringType(), True),
    StructField("motivoSituacaoCadastral", StringType(), True),
    StructField("identificadorMatrizFilial", StringType(), True)
])

# Definindo o esquema para leitura do CSV
schema = StructType([
    StructField("nu_cnpj_raiz", StringType(), True),
    StructField("te_dados_em", StringType(), True),
    StructField("id_estabelecimento", StringType(), True),
    StructField("te_dados_es", StringType(), True)
])

# Lendo o CSV com o esquema definido
pj = spark.read \
    .option("delimiter", ",") \
    .option("multiline", "true") \
    .option("escape", "\"") \
    .csv("dataset/empresas_estabelecimentos.csv", schema=schema, header=True)

In [4]:
pj = pj.withColumn("te_dados_em", from_json(col("te_dados_em"), json_schema_em)) \
      .withColumn("te_dados_es", from_json(col("te_dados_es"), json_schema_es)) \
      .filter(substring(col("id_estabelecimento"), 0, 4) == '0001') \
      .withColumnRenamed("nu_cnpj_raiz", "id")

In [5]:
# print (pj.head(2))
pj.show(truncate=False)
# pj.printSchema()

23/11/28 18:52:42 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+--------+----------------------------------------------------------------------------------------------+------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|id      |te_dados_em                                                                                   |id_estabelecimento|te_dados_es                                                                                                                                                                                                                                                |
+--------+----------------------------------------------------------------------------------------------+------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|03250000|{01, 00000001500000, 56394128015, FABIO ALBERTO SCARAMUSSA, 2135, 50}                         |000138            |{RS, 97770000, 55, 55, , , CENTRO, 1386, 7381, 32501041, 32501016, 2543800, TEREZA FRIZZO, , 19990615, INDUSTRIA DE ARTEFATOS DE FERRO ( I.A.F. ), , RUA, ["1629301","2541100","2542000","2833000","3314711","4530703","4744001"], , 02, , 20051103, 00, 1}|
|03250001|{05, 00000000000000, 50690981449, CONSELHO ESCOLAR QUIXABEIRA, 3999, 16}                      |000182            |{PE, 56460000, , , , , ZONA RURAL, SN, 2519, , , 9430800, AGROVILA 04 B1.02, , 19990701, , , , ["9493600","9499500"], , 04, , 20190130, 63, 1}                                                                                                             |
|03250002|{01, 00000000000000, 82462291091, RODRIGUES & VIEIRA COMERCIO E DECORACOES LTDA, 2062, 49}    |000127            |{RS, 91220580, 051, , , , CAVALHADA, 2155, 8801, 2426110, , 4759801, CAVALHADA, , 19990624, TAPECARIA TAPETAO, , AVENIDA, , , 02, , 20210921, 00, 1}                                                                                                       |
|03250003|{03, 00000010000000, 47093161987, CEDRO MOVEIS E DECORACOES LTDA, 2062, 49}                   |000171            |{SC, 88075001, 48, 48, , CEDROMOVEIS@YAHOO.COM.BR, ESTREITO, 100, 8105, 32231388, 30256695, 4754701, RUA GENERAL VALGAS NEVES, , 19990629, CEDRO MOVEIS, , RUA, ["4789003","3103900","4930202"], , 02, , 20051103, 00, 1}                                  |
|03250004|{05, 00000000000000, 81270615734, CONDOMINIO DO EDIF. ALMTE. PAULO MOREIRA BLOCO XI, 3085, 16}|000116            |{RJ, 23073070, , , , , CAMPO GRANDE, 180, 6001, , , 8112500, PROFESSORA ALMEIRINDA DE CASTRO, RUA 05 BLOCO XI, 19990622, EDIFICIO ALMTE. PAULO MOREIRA BLOCO XI, , RUA, NULL, , 02, , 19990622, 00, 1}                                                     |
|03250005|{05, 00000000000000, 18433375091, JOAO STAUB NETO, 2135, 50}                                  |000160            |{RS, 98130000, , , , , CENTRO, 180, 8725, , , 5611203, CEL. SERAFIN, CASA, 19990618, , , RUA, NULL, , 08, , 20060102, 01, 1}                                                                                                                               |
|03250006|{01, 00000000000000, 05932096993, INDUSTRIA E COMERCIO DE CONFECCOES REALEZA LTDA, 2062, 49}  |000105            |{SC, 88960000, 48, 48, , mcrose@contato.net, JANUARIA, 2007, 8349, 35330999, 35330999, 4755503, BR 101 KM 435, SALA  41, 19990629, SONHO REAL, , RODOVIA, , , 04, , 20231113, 63, 1}                                                                       |
|03250007|{05, 00000000000000, 38269295515, PITANGA E GALVAO CORRETORA DE SEGUROS LTDA, 2062, 49}       |000150            |{BA, 44001465, 075, , , , CENTRO, 207, 3515, 2218244, , 6512000, SAMPAIO, ANDAR 1 - SALA 105, 19990628, , , AVENIDA, NULL, , 08, , 20150209, 73, 1}                                                                                                        |
|03250008|{01, 00000000000000, 49904167834, DORIVAL BENEDETTI, 2135, 50}                                |000102            |{MT, 78110798, , , , , PORTO, 1011, 9167, , , 9521500, FEB, , 19870120, PORTAL DO SUL, , AVENIDA, , , 04, , 20201022, 63, 1}                                                                                                                               |
|03250009|{01, 00000000200000, 12962745865, SOFT SYSTEM INFORMATICA S/S LTDA, 2240, 49}                 |000149            |{SP, 06160040, 011, , , , JD. DOS AUTONOMISTAS, 200, 6789, 66216336, , 8299799, JOAO GUIMARAES ROSA, BLOCO 1 - CONJUNTO 53, 19990629, SOFT SYSTEM INFORMATICA, , RUA, NULL, , 08, , 20190917, 01, 1}                                                       |
|03250010|{01, 00000005000000, 01732487995, TECVIDIAL FERRAMENTAS LTDA, 2062, 49}                       |000173            |{SC, 89108000, 47, , , , BUTUCA, 373, 8207, 33791964, , 2543800, AUGUSTO LAFFIN, , 19990629, TECVIDIAL FERRAMENTAS, , RUA, ["2539002","2542000","4744001"], , 02, , 20051103, 00, 1}                                                                       |
|03250011|{05, 00000000000000, 25678426087, BAZAR E CONFECCOES MUNIZ LTDA, 2062, 49}                    |000118            |{SC, 89814020, , , , , CENTRO, 530, 8081, , , 4789001, GENERAL OSORIO, E SALA 02, 19990624, , , RUA, NULL, , 08, , 20030707, 01, 1}                                                                                                                        |
|03250012|{05, 00000000000000, 07247777761, BUSINESS PAGE LTDA, 2062, 49}                               |000162            |{RJ, 25953020, 021, , , expander@gbl.com.br, VARZEA, 86, 5915, 6433311, , 6209100, MONTE LIBANO, SALA 105, 19990625, BUSINESS PAGE, , RUA, NULL, , 08, , 20150209, 73, 1}                                                                                  |
|03250013|{05, 00000000000000, 42425344004, RC SERVICE, 2135, 50}                                       |000107            |{RS, 91360040, , , , , VILA IPIRANGA, 18, 8801, , , 4744005, JOAO CANDIDO, SALA 203, 19990618, , , RUA, NULL, , 08, , 20040105, 01, 1}                                                                                                                     |
|03250014|{01, 00000000000000, 89460065872, BARDELLI SERVICOS S/C LTDA, 2062, 49}                       |000151            |{SP, 09861750, , , , , ASSUNCAO, 77, 7075, , , 8299799, ROSA ROSSI, , 19990625, , , RUA, ["6399200","7410299","7490105","7490199","8219999","8299703","8299707"], , 04, , 20180906, 63, 1}                                                                 |
|03250015|{01, 00000008000000, 00931589045, SQ CORRETORA DE SEGUROS E CONSORCIOS LTDA, 2062, 49}        |000104            |{RS, 93310240, 51, , , HENRIQUE@SQCORRETORA.COM.BR, RIO BRANCO, 701, 8771, 30377322, , 6622300, JOSE DO PATROCINIO, SALA  306, 19990526, , , RUA, ["6493000"], , 02, , 20051103, 00, 1}                                                                    |
|03250016|{05, 00000000000000, 27669319100, ALTAIR LUIZ DE MORAES, 2135, 50}                            |000140            |{MT, 78110798, , , , , AGUA LIMPA, 683, 9167, , , 4781400, MANOEL FRANCISCO PAULA, , 19870120, ALTELI CONFECCOES, , RUA, NULL, , 08, , 20081231, 71, 1}                                                                                                    |
|03250017|{05, 00000000000000, 94708614853, ENORE BRASIL VIAGENS E TURISMO LTDA, 2062, 49}              |000195            |{SP, 04582000, 011, , , , VILA CORDEIRO, 182, 7107, 2553955, , 7911200, ALVARO RODRIGUES, CONJUNTOS 71/72, 19990622, , , RUA, ["7912100","7990200"], , 08, , 20081231, 71, 1}                                                                              |
|03250018|{01, 00000000000000, 79694284872, CANADA MAPLE LEAF LANGUAGE INSTITUTE LTDA, 2062, 49}        |000130            |{SP, 17201490, 14, , , escritoriomodelo@jaunet.com.br, CENTRO, 560, 6607, 6218020, , 4761001, RANGEL PESTANA, , 19990621, , , , NULL, , 08, , 20160425, 01, 1}                                                                                             |
|03250019|{01, 00000000000000, 13061038434, TEREZA N P DOS SANTOS, 2135, 50}                            |000184            |{RN, 59010460, , , , , SANTOS REIS, 08, 1761, , , 8011101, DA LIBERDADE, , 19990630, OLHO DE AGUIA AG. SEG. TERCEIRIZACAO MARITIMA E SERVICO, , RUA, ["8020001"], , 08, , 20220419, 01, 1}                                                                 |
+--------+----------------------------------------------------------------------------------------------+------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

In [6]:
# Schema para Json Socios
json_schema_sc = StructType([
    StructField("pais", StringType(), True),
    StructField("entradaSociedade", StringType(), True),
    StructField("socioEstrangeiro", StringType(), True),
    StructField("qualificacaoSocio", StringType(), True),
    StructField("identificadorSocio", StringType(), True),
    StructField("cpfRepresentanteLegal", StringType(), True),
    StructField("qualificacaoRepresentanteLegal", StringType(), True)
])

# Definindo o esquema para leitura do CSV
schema = StructType([
    StructField("nu_cnpj_raiz", StringType(), True),
    StructField("id_socio", StringType(), True),
    StructField("te_dados_sc", StringType(), True)
])

# Lendo o CSV com o esquema definido
sc = spark.read \
    .option("delimiter", ",") \
    .option("multiline", "true") \
    .option("escape", "\"") \
    .csv("dataset/socios.csv", schema=schema, header=True)

In [7]:
# tratando o df socios
# Tratamento 1: Expandir o JSON
sc = sc.withColumn("te_dados_sc", from_json(col("te_dados_sc"), json_schema_sc))

sc = sc.withColumn("id_socio", when(sc["te_dados_sc"]["identificadorSocio"] == '1',
                                    sc["id_socio"].substr(1, 8))
                                .otherwise(sc["id_socio"]))

sc = sc.withColumnRenamed("nu_cnpj_raiz", "src").withColumnRenamed("id_socio", "dst")

In [8]:
# print (sc.head(2))
sc.show(truncate=False)
# sc.printSchema()

+--------+--------------+-----------------------------------------+
|src     |dst           |te_dados_sc                              |
+--------+--------------+-----------------------------------------+
|03250001|00050690981449|{000, 20050912, , 16, 2, 00000000000, 00}|
|03250002|00035046376091|{000, 20000914, , 22, 2, 00000000000, 00}|
|03250002|00082462291091|{000, 19991216, , 49, 2, 00000000000, 00}|
|03250003|00047093161987|{000, 20180829, , 49, 2, 00000000000, 00}|
|03250006|00005932096993|{000, 20060522, , 49, 2, 00000000000, 00}|
|03250006|00006117916922|{000, 20060522, , 22, 2, 00000000000, 00}|
|03250007|00026853060563|{000, 19990630, , 49, 2, 00000000000, 00}|
|03250007|00038269295515|{000, 19990630, , 49, 2, 00000000000, 00}|
|03250009|00012962745865|{000, 19990629, , 49, 2, 00000000000, 00}|
|03250010|00001732487995|{000, 20210416, , 49, 2, 00000000000, 00}|
|03250011|00025678426087|{000, 19990624, , 49, 2, 00000000000, 00}|
|03250011|00049920154091|{000, 19990624, , 22, 2, 00000000000, 00}|
|03250012|00007247777761|{000, 20020111, , 49, 2, 00000000000, 00}|
|03250012|00089969189700|{000, 19990625, , 49, 2, 00000000000, 00}|
|03250014|00037222694820|{000, 19990625, , 22, 2, 00000000000, 00}|
|03250014|00089460065872|{000, 19990625, , 49, 2, 00000000000, 00}|
|03250015|00000931589045|{000, 20120412, , 49, 2, 00000000000, 00}|
|03250017|00003940778818|{000, 19990622, , 49, 2, 00000000000, 00}|
|03250017|00006341206895|{000, 19990622, , 49, 2, 00000000000, 00}|
|03250017|00094708614853|{000, 19990622, , 49, 2, 00000000000, 00}|
+--------+--------------+-----------------------------------------+
only showing top 20 rows

In [9]:
# Cria df para vértices do tipo Pessoa Física:
pf = sc.filter(col("te_dados_sc.identificadorSocio") == '2').select(col("dst").alias("id"))

In [10]:
cols_pj = [col_name for col_name in pj.columns if col_name != 'id']
for col_name in cols_pj:
    pf = pf.withColumn(col_name, lit(None))

In [11]:
pf.show(truncate=False)
# pf.printSchema()

+--------------+-----------+------------------+-----------+
|id            |te_dados_em|id_estabelecimento|te_dados_es|
+--------------+-----------+------------------+-----------+
|00050690981449|NULL       |NULL              |NULL       |
|00035046376091|NULL       |NULL              |NULL       |
|00082462291091|NULL       |NULL              |NULL       |
|00047093161987|NULL       |NULL              |NULL       |
|00005932096993|NULL       |NULL              |NULL       |
|00006117916922|NULL       |NULL              |NULL       |
|00026853060563|NULL       |NULL              |NULL       |
|00038269295515|NULL       |NULL              |NULL       |
|00012962745865|NULL       |NULL              |NULL       |
|00001732487995|NULL       |NULL              |NULL       |
|00025678426087|NULL       |NULL              |NULL       |
|00049920154091|NULL       |NULL              |NULL       |
|00007247777761|NULL       |NULL              |NULL       |
|00089969189700|NULL       |NULL              |NULL       |
|00037222694820|NULL       |NULL              |NULL       |
|00089460065872|NULL       |NULL              |NULL       |
|00000931589045|NULL       |NULL              |NULL       |
|00003940778818|NULL       |NULL              |NULL       |
|00006341206895|NULL       |NULL              |NULL       |
|00094708614853|NULL       |NULL              |NULL       |
+--------------+-----------+------------------+-----------+
only showing top 20 rows

In [12]:
# cria tipo de pessoa na nos vértices
pj = pj.withColumn("id_tipoPessoa", lit(1))
pf = pf.withColumn("id_tipoPessoa", lit(2))

In [13]:
pf.show(truncate=False)

+--------------+-----------+------------------+-----------+-------------+
|id            |te_dados_em|id_estabelecimento|te_dados_es|id_tipoPessoa|
+--------------+-----------+------------------+-----------+-------------+
|00050690981449|NULL       |NULL              |NULL       |2            |
|00035046376091|NULL       |NULL              |NULL       |2            |
|00082462291091|NULL       |NULL              |NULL       |2            |
|00047093161987|NULL       |NULL              |NULL       |2            |
|00005932096993|NULL       |NULL              |NULL       |2            |
|00006117916922|NULL       |NULL              |NULL       |2            |
|00026853060563|NULL       |NULL              |NULL       |2            |
|00038269295515|NULL       |NULL              |NULL       |2            |
|00012962745865|NULL       |NULL              |NULL       |2            |
|00001732487995|NULL       |NULL              |NULL       |2            |
|00025678426087|NULL       |NULL              |NULL       |2            |
|00049920154091|NULL       |NULL              |NULL       |2            |
|00007247777761|NULL       |NULL              |NULL       |2            |
|00089969189700|NULL       |NULL              |NULL       |2            |
|00037222694820|NULL       |NULL              |NULL       |2            |
|00089460065872|NULL       |NULL              |NULL       |2            |
|00000931589045|NULL       |NULL              |NULL       |2            |
|00003940778818|NULL       |NULL              |NULL       |2            |
|00006341206895|NULL       |NULL              |NULL       |2            |
|00094708614853|NULL       |NULL              |NULL       |2            |
+--------------+-----------+------------------+-----------+-------------+
only showing top 20 rows

In [14]:
# Criando o grafo de relacionamento empresas->socios
g = GraphFrame(pj.union(pf), sc)

In [15]:
g.vertices.show()

+--------+--------------------+------------------+--------------------+-------------+
|      id|         te_dados_em|id_estabelecimento|         te_dados_es|id_tipoPessoa|
+--------+--------------------+------------------+--------------------+-------------+
|03250000|{01, 000000015000...|            000138|{RS, 97770000, 55...|            1|
|03250001|{05, 000000000000...|            000182|{PE, 56460000, , ...|            1|
|03250002|{01, 000000000000...|            000127|{RS, 91220580, 05...|            1|
|03250003|{03, 000000100000...|            000171|{SC, 88075001, 48...|            1|
|03250004|{05, 000000000000...|            000116|{RJ, 23073070, , ...|            1|
|03250005|{05, 000000000000...|            000160|{RS, 98130000, , ...|            1|
|03250006|{01, 000000000000...|            000105|{SC, 88960000, 48...|            1|
|03250007|{05, 000000000000...|            000150|{BA, 44001465, 07...|            1|
|03250008|{01, 000000000000...|            000102|{MT, 78110798, , ...|            1|
|03250009|{01, 000000002000...|            000149|{SP, 06160040, 01...|            1|
|03250010|{01, 000000050000...|            000173|{SC, 89108000, 47...|            1|
|03250011|{05, 000000000000...|            000118|{SC, 89814020, , ...|            1|
|03250012|{05, 000000000000...|            000162|{RJ, 25953020, 02...|            1|
|03250013|{05, 000000000000...|            000107|{RS, 91360040, , ...|            1|
|03250014|{01, 000000000000...|            000151|{SP, 09861750, , ...|            1|
|03250015|{01, 000000080000...|            000104|{RS, 93310240, 51...|            1|
|03250016|{05, 000000000000...|            000140|{MT, 78110798, , ...|            1|
|03250017|{05, 000000000000...|            000195|{SP, 04582000, 01...|            1|
|03250018|{01, 000000000000...|            000130|{SP, 17201490, 14...|            1|
|03250019|{01, 000000000000...|            000184|{RN, 59010460, , ...|            1|
+--------+--------------------+------------------+--------------------+-------------+
only showing top 20 rows

In [16]:
# Filtrando os vértices com comprimento de 'id' maior que 8
vertices_filtrados = g.vertices.filter(g.vertices["id_tipoPessoa"] == 2)

# Exibindo os vértices filtrados
vertices_filtrados.show()

+--------------+-----------+------------------+-----------+-------------+
|            id|te_dados_em|id_estabelecimento|te_dados_es|id_tipoPessoa|
+--------------+-----------+------------------+-----------+-------------+
|00050690981449|       NULL|              NULL|       NULL|            2|
|00035046376091|       NULL|              NULL|       NULL|            2|
|00082462291091|       NULL|              NULL|       NULL|            2|
|00047093161987|       NULL|              NULL|       NULL|            2|
|00005932096993|       NULL|              NULL|       NULL|            2|
|00006117916922|       NULL|              NULL|       NULL|            2|
|00026853060563|       NULL|              NULL|       NULL|            2|
|00038269295515|       NULL|              NULL|       NULL|            2|
|00012962745865|       NULL|              NULL|       NULL|            2|
|00001732487995|       NULL|              NULL|       NULL|            2|
|00025678426087|       NULL|              NULL|       NULL|            2|
|00049920154091|       NULL|              NULL|       NULL|            2|
|00007247777761|       NULL|              NULL|       NULL|            2|
|00089969189700|       NULL|              NULL|       NULL|            2|
|00037222694820|       NULL|              NULL|       NULL|            2|
|00089460065872|       NULL|              NULL|       NULL|            2|
|00000931589045|       NULL|              NULL|       NULL|            2|
|00003940778818|       NULL|              NULL|       NULL|            2|
|00006341206895|       NULL|              NULL|       NULL|            2|
|00094708614853|       NULL|              NULL|       NULL|            2|
+--------------+-----------+------------------+-----------+-------------+
only showing top 20 rows

In [17]:
g.degrees.show()

23/11/28 18:53:11 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
23/11/28 18:53:39 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
23/11/28 18:54:06 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
23/11/28 18:54:33 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.

+--------------+------+
|            id|degree|
+--------------+------+
|      03250015|     1|
|00095818499715|     1|
|      03250329|     2|
|00026923943809|     1|
|      03250402|     2|
|00077271181415|     4|
|00035380802168|     1|
|00034271902187|     1|
|00017914088854|     1|
|00005149062430|     1|
|00001171545800|     1|
|      03251400|     2|
|00044526628620|     1|
|00099513803015|     1|
|      03251565|     2|
|00026132426809|     7|
|00003034530609|     2|
|00030445094400|     1|
|      03251941|     2|
|00095549153904|     1|
+--------------+------+
only showing top 20 rows

In [18]:
Distinct_nome_fantasia = g.vertices.select('te_dados_es.nomeFantasia').distinct()
Distinct_nome_fantasia.show()

23/11/28 18:56:51 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
23/11/28 19:00:15 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
23/11/28 19:02:57 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.

+--------------------+
|        nomeFantasia|
+--------------------+
|     IDEAL MOTO TAXI|
|  SHOPPING DAS LOJAS|
|   PESQUEIRO PARAISO|
|    CONSELHO ESCOLAR|
|             CALMELL|
|   VITALLI ESTOFADOS|
|            METALART|
|CABOS, CORDAS & CIA.|
|     CASA DE RETORNO|
|MULTTECH INFORMATICA|
|POUSADA NOSSA SEN...|
|      MERCADO GRACEL|
|  CAMILOOS CORRETORA|
|BAR E MERCEARIA V...|
|   DELICIAS CASEIRAS|
|GRANJA FRANGO DE ...|
|              AAP/RN|
|  MECANICA DO GERINO|
|  PLANO AGROPECUARIO|
|           CLOVISTUR|
+--------------------+
only showing top 20 rows

In [19]:
print (g.vertices.count())

44071255

In [20]:
print (g.edges.count())

14377190

In [21]:
spark.stop()